

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Home.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/images/Hall9000_edo.png" />
    <title>Home</title>
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="~/RecursosExternos/semantic.css">
    <link rel="stylesheet" type="text/css" href="~/RecursosExternos/semantic.min.css">


    <link href="~/RecursosExternos/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/RecursosExternos/bootstrap.min.js"></script>
    <script src="~/RecursosExternos/jquery.min.js"></script>

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

    <style>




        html, body {
            background-image: url('/Images/WallMedico.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            font-family: 'Numans', sans-serif;
        }

        .card-img-top {
            width: 250px;
        }

        .contenedor-imagen {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <br />
    <div class="ui link cards">
        <div class="container">
            <div style="height:5px"></div>
            <h2 style="color:white" class="ui center aligned header">
                @*<img src="~/Recursos/Imagenes/IconoAsmar.png" class="ui image">*@
                Bienvenido @SessionH.Usuario.Nombre
            </h2>
            <br />
            <div class="ui link cards">
                <div class="container">
                    <div class="row">
                        @*MantenedorUsuarios*@
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm" style="opacity:.85">
                                <div class="contenedor-imagen">
                                    <img class="card-img-top" src="~/Images/BtnForm.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Aquí podras crear, modificar, revisar y enviar las solicitudes.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <div id="btnMarketPlace" onclick="window.location.href = '/LibroSolicitudes?limpiar=1'" class="ui right labeled icon black button">
                                                Solicitudes
                                                <i class="hand point left icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*CargadorProductos*@
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm" style="opacity:.85">
                                <div class="contenedor-imagen">
                                    <img class="card-img-top" src="~/Images/BtnExcel.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Aquí podrás cargar los productos desde el excel de stock vs consumo de Rayén.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <div id="btnMarketPlace" onclick="window.location.href = '/CargadorProductos'" class="ui right labeled icon black button">
                                                Cargador de Productos
                                                <i class="hand point left icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Mantenedor de relacion Productos*@
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm" style="opacity:.85">
                                <div class="contenedor-imagen">
                                    <img class="card-img-top" src="~/Images/BtnRelacionar.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Aquí podrás realizar la relación de productos entre tu establecimiento y la droguería.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <div id="btnMarketPlace" onclick="window.location.href = '/MantenedorRelacionProductos'" class="ui right labeled icon black button">
                                                Relación de productos
                                                <i class="hand point left icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*MantenedorUsuarios*@
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm" style="opacity:.85">
                                <div class="contenedor-imagen">
                                    <img class="card-img-top" src="~/Images/BtnDetalle.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Aquí podras revisar las solicitudes por detalle de los productos solicitados.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <div id="btnMarketPlace" onclick="window.location.href = '/SolicitudDetalle?limpiar=1'" class="ui right labeled icon black button">
                                                Solicitud por detalle
                                                <i class="hand point left icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*MantenedorProductos*@
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm" style="opacity:.85">
                                <div class="contenedor-imagen">
                                    <img class="card-img-top" src="~/Images/BtnProducto.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Aquí podrás crear y editar los productos de tu establecimiento.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <div id="btnMarketPlace" onclick="window.location.href = '/MantenedorProductos'" class="ui right labeled icon black button">
                                                Mantenedor Productos
                                                <i class="hand point left icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm" style="opacity:.85">
                                <div class="contenedor-imagen">
                                    <img class="card-img-top" src="~/Images/BtnLog.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Aquí podrás ver el log de los movimientos más importantes dentro del sistema.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <div id="btnMarketPlace" onclick="window.location.href = '/log'" class="ui right labeled icon black button">
                                                Log del sistema
                                                <i class="hand point left icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm" style="opacity:.85">
                                <div class="contenedor-imagen">
                                    <img class="card-img-top" src="~/Images/BtnUser.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Aquí podrás crear y editar los usuarios del sistema y sus privilegios.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <div id="btnMarketPlace" onclick="window.location.href = '/MantenedorUsuarios'" class="ui right labeled icon black button">
                                                Usuarios y privilegios
                                                <i class="hand point left icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>









